.event-page {
  padding: 20px;
}

.page-title {
  color: #045a5a;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.event-card {
  border: 1px solid #035f5f;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.details-link {
  text-decoration: none;
  color: #007bff;
  margin-top: 10px;
  display: inline-block;
}
