/* General body styling */
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #1261a6, #11b9c2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://www.transparenttextures.com/patterns/diag-stripes.png') repeat;
  opacity: 0.1;
  z-index: -1;
}

/* Container styling */
.container {
  position: relative;
  width: 350px;
  padding: 30px;
  background-color: #1e2326;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  animation: fadeInUp 0.8s ease-out;
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
  background: #0c2340;
  color: rgb(64, 189, 211);
}

.container:hover {
  transform: rotateY(3deg) rotateX(3deg);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

/* Red strips */
.red-strip {
  width: 100%;
  height: 10px; /* Height of the red strip */
  background-color: red;
  position: absolute;
}

.red-strip.top {
  top: 0;
  border-radius: 10px 10px 0 0; /* Rounded corners for the top strip */
}

.red-strip.bottom {
  bottom: 0;
  border-radius: 0 0 10px 10px; /* Rounded corners for the bottom strip */
}

/* Heading styling */
h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
  color: rgb(64, 189, 211);
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, button {
  width: 90%;
  margin-bottom: 10px;
  padding: 12px 15px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #dfdddd;
  outline: none;
  transition: all 0.3s ease;
}

input::placeholder {
  font-style: italic;
  color: #052e31;
}

input:focus, button:hover {
  border-color: #0ac6d4;
  box-shadow: 0 0 6px rgba(5, 87, 116, 0.7);
  transform: scale(1.03);
}

button {
  background-color: #0c7b8c;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0f8a9a;
  box-shadow: 0 5px 10px rgba(17, 17, 18, 0.3);
  transform: translateY(-2px);
}

button:active {
  transform: translateY(1px);
}

/* Login box */
.login-box {

  margin-top: 16px;
  text-align: center;
  font-size: 12px;
}

.login-box a {
  text-decoration: right;
  color: #097889;
  font-weight: bold;
  transition: color 0.3s ease;
}

.login-box a:hover {
  color: #068192;
}

/* Compact spacing for a cleaner layout */
.container > * {
  margin: 5px 0;
}
